# TODO: most of these can be compile-time only
# bugs.MixinEnchantmentHelper
public net.minecraft.enchantment.EnchantmentHelper$IModifier
public net.minecraft.enchantment.EnchantmentHelper$ModifierDamage
public net.minecraft.enchantment.EnchantmentHelper$ModifierLiving
public net.minecraft.enchantment.EnchantmentHelper$HurtIterator
public net.minecraft.enchantment.EnchantmentHelper$DamageIterator
public net.minecraft.enchantment.EnchantmentHelper$ModifierDamage <init>()V
public net.minecraft.enchantment.EnchantmentHelper$ModifierLiving <init>()V
public net.minecraft.enchantment.EnchantmentHelper$HurtIterator <init>()V
public net.minecraft.enchantment.EnchantmentHelper$DamageIterator <init>()V

public net.minecraft.client.gui.inventory.GuiContainerCreative$ContainerCreative

public net.minecraft.client.gui.GuiButton field_146123_n # hovered
public-f net.minecraft.client.resources.SkinManager$2 field_152636_b

public net.minecraft.nbt.NBTTagList field_74747_a # tagList

public net.minecraft.network.play.server.S0CPacketSpawnPlayer field_148956_c
public net.minecraft.network.play.server.S0CPacketSpawnPlayer field_148953_d
public net.minecraft.network.play.server.S0CPacketSpawnPlayer field_148954_e

public net.minecraft.network.play.server.S11PacketSpawnExperienceOrb field_148990_b
public net.minecraft.network.play.server.S11PacketSpawnExperienceOrb field_148991_c
public net.minecraft.network.play.server.S11PacketSpawnExperienceOrb field_148988_d

public net.minecraft.client.renderer.RenderGlobal field_72768_k # sortedWorldRenderers
public net.minecraft.client.renderer.RenderGlobal field_72765_l # worldRenderers
public net.minecraft.client.renderer.RenderGlobal field_72751_K # renderersLoaded
public net.minecraft.client.renderer.RenderGlobal field_72739_F # renderDistanceChunks
public net.minecraft.client.renderer.RenderGlobal field_72742_B # maxBlockX
public net.minecraft.client.renderer.RenderGlobal field_72780_y # minBlockX
public net.minecraft.client.renderer.RenderGlobal field_72743_C # maxBlockY
public net.minecraft.client.renderer.RenderGlobal field_72779_z # minBlockY
public net.minecraft.client.renderer.RenderGlobal field_72737_D # maxBlockZ
public net.minecraft.client.renderer.RenderGlobal field_72741_A # minBlockZ
public net.minecraft.client.renderer.RenderGlobal field_72766_m # renderChunksWide
public net.minecraft.client.renderer.RenderGlobal field_72763_n # renderChunksTall
public net.minecraft.client.renderer.RenderGlobal field_72764_o # renderChunksDeep
public net.minecraft.client.renderer.RenderGlobal field_72769_h # theWorld
public net.minecraft.client.renderer.RenderGlobal field_72767_j # worldRenderersToUpdate
public net.minecraft.client.renderer.RenderGlobal field_72753_P # dummyRenderInt
public net.minecraft.client.renderer.RenderGlobal field_72744_L # renderersBeingClipped
public net.minecraft.client.renderer.RenderGlobal field_72745_M # renderersBeingOccluded
public net.minecraft.client.renderer.RenderGlobal field_72746_N # renderersBeingRendered
public net.minecraft.client.renderer.RenderGlobal field_72747_O # renderersSkippingRenderPass
public net.minecraft.client.renderer.RenderGlobal field_72777_q # mc
public net.minecraft.client.renderer.RenderGlobal field_72749_I # countEntitiesRendered
public net.minecraft.client.renderer.RenderGlobal field_72750_J # countEntitiesHidden
public net.minecraft.client.renderer.RenderGlobal field_72752_Q # worldRenderersCheckIndex
public net.minecraft.client.renderer.RenderGlobal field_147603_i # prevChunkSortX
public net.minecraft.client.renderer.RenderGlobal field_147600_j # prevChunkSortY
public net.minecraft.client.renderer.RenderGlobal field_147601_k # prevChunkSortZ
public net.minecraft.client.renderer.RenderGlobal field_147596_f # prevRenderSortX
public net.minecraft.client.renderer.RenderGlobal field_147597_g # prevRenderSortY
public net.minecraft.client.renderer.RenderGlobal field_147602_h # prevRenderSortZ
public net.minecraft.client.renderer.RenderGlobal field_72754_S # allRenderLists
public net.minecraft.client.renderer.RenderGlobal field_72757_g # frustumCheckOffset

public net.minecraft.client.renderer.RenderGlobal func_72722_c(III)V # markRenderersForNewPosition
public net.minecraft.client.renderer.RenderGlobal func_72733_a(ID)V # renderAllRenderLists
public net.minecraft.client.renderer.RenderGlobal func_72712_a()V # loadRenderers
public net.minecraft.client.renderer.RenderGlobal func_72724_a(IIID)I # renderSortedRenderers

public net.minecraft.client.renderer.WorldRenderer field_78915_A # isInitialized
public net.minecraft.client.renderer.EntityRenderer field_78510_Z #renderEndNanoTime

public net.minecraft.client.multiplayer.PlayerControllerMP field_78779_k #currentGameType

public net.minecraft.world.World field_72993_I # activeChunkSet